//Variables de colores

$color-naranja: #de8244;
$color-verde: #57ab8d;
$color-fondo: #eff0f3;
$color-degrade1: #dac6b8;
$color-degrade2: #a0b1ab;

body {
    background-color: $color-fondo;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

#contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 130px;
    grid-template-areas:

        "cabecera"
        "cuerpo"
        "pie"

    ;
}

.navbar{
    flex-wrap: nowrap;
}


/* buttons */

.button__propio {
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background-color: $color-verde;
    color: $color-fondo;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-bottom: 10px;

}

.button__propio:hover {
    background-color: $color-fondo;
    color: $color-verde;
    border: 2px solid $color-verde;
    border-radius: 20px;
}


.button__propio a {
    color: $color-fondo;
    text-decoration: none;

    &:hover{
        color: $color-verde
    }
}

.button__index {
    padding-left: 30px;

    @media only screen and (min-width:768px){
        padding-left: 300px;
    }
}