@use '_commons' as c;

#cuerpo {
    grid-area: cuerpo;
}

main img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#conteiner__p__index {
    font-size: 18px;
    padding-left: 20px;
    display: inline-block;
    padding-top: px;

    @media only screen and (min-width:768px){
        padding-top: 30px;
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;
    }
    
}


